[data-theme="dark"] {
    --background-color: #101f14 !important;
    --color: #bbcdbf !important;
    --h1-color: #edf3ef !important;
    --h2-color: #e0ebe4 !important;
    --h3-color: #d5e2d8 !important;
    --h4-color: #c8d8cc !important;
    --h5-color: #bbcdbf !important;
    --h6-color: #afc4b4 !important;
    --muted-border-color: #1f3825 !important;
    --primary: #07400b !important;
    --primary-hover: #0c6e13 !important;
    --primary-focus: rgba(16, 193, 30, 0.25) !important;
    --secondary: #597860 !important;
    --secondary-hover: #728c78 !important;
    --secondary-focus: rgba(114, 140, 120, 0.25) !important;
    --contrast: #edf3ef !important;
    --contrast-focus: rgba(114, 140, 120, 0.25) !important;
    --form-element-background-color: #101f14 !important;
    --form-element-border-color: #37563e !important;
    --form-element-disabled-background-color: #2c4933 !important;
    --form-element-disabled-border-color: #406249 !important;
    --switch-background-color: #37563e !important;
    --range-border-color: #d5e2d8 !important;
    --range-active-border-color: #bbcdbf !important;
    --table-row-stripped-background-color: #f6f9f6 !important;
    --code-background-color: #edf3ef !important;
    --card-box-shadow: 0 0.125rem 1rem rgba(26, 50, 33, 0.04),0 0.125rem 2rem rgba(26, 50, 33, 0.08),0 0 0 0.0625rem rgba(26, 50, 33, 0.024) !important;
    --card-sectionning-background-color: #fbfcfb !important;
    --modal-overlay-background-color: rgba(213, 226, 216, 0.8) !important;
}

[data-theme="light"] {
    --color: #406249 !important;
    --h1-color: #1a3221 !important;
    --h2-color: #233e2a !important;
    --h3-color: #2c4933 !important;
    --h4-color: #37563e !important;
    --h5-color: #406249 !important;
    --h6-color: #4d6d54 !important;
    --muted-border-color: #edf3ef !important;
    --primary: #10c11e !important;
    --primary-hover: #089b14 !important;
    --primary-focus: rgba(16, 193, 30, 0.13) !important;
    --secondary: #597860 !important;
    --secondary-hover: #406249 !important;
    --secondary-focus: rgba(89, 120, 96, 0.125) !important;
    --contrast: #1a3221 !important;
    --contrast-focus: rgba(89, 120, 96, 0.125) !important;
    --form-element-border-color: #a2b9a8 !important;
    --form-element-disabled-background-color: #d5e2d8 !important;
    --form-element-disabled-border-color: #a2b9a8 !important;
    --switch-background-color: #bbcdbf !important;
    --range-border-color: #d5e2d8 !important;
    --range-active-border-color: #bbcdbf !important;
    --table-row-stripped-background-color: #f6f9f6 !important;
    --code-background-color: #edf3ef !important;
    --card-box-shadow: 0 0.125rem 1rem rgba(26, 50, 33, 0.04),0 0.125rem 2rem rgba(26, 50, 33, 0.08),0 0 0 0.0625rem rgba(26, 50, 33, 0.024) !important;
    --card-sectionning-background-color: #fbfcfb !important;
    --modal-overlay-background-color: rgba(213, 226, 216, 0.8) !important;
}

.hero .hero-buttons {
    color: var(--color) !important;
}

nav a {
    --color: var(--color) !important;
}
nav a:hover {
    --color: var(--primary-hover) !important;
}

a {
    color: var(--link-color) !important;
}