/* Coolors Exported Palette - coolors.co/cddddd-2e2f2f-9cbfa7-61c9a8-88bb92 */

$color1: rgba(205, 221, 221, 1); // gainsboro
$color1-darkmode: rgba(33, 48, 48, 1); // charleston green
$color2: rgba(46, 47, 47, 1); // jet
$color2-darkmode: rgba(44, 47, 49, 1); // gunmetal
$color3: rgba(156, 191, 167, 1); // cambridge blue
$color3-darkmode: rgba(43, 67, 51, 1); // kombu green
$color4: rgba(97, 201, 168, 1); // medium aquamarine
$color4-darkmode: rgba(37, 109, 86, 1); // dark spring green
$color5: rgba(136, 187, 146, 1); // dark sea green
$color5-darkmode: rgba(45, 78, 51, 1); // kombu green