@import "./colors";

.nav-button {
    border: 1px solid $color1;
    background-color: $color5-darkmode;
    color: $color1;
    text-align: center;
    padding: 5px;
    display: grid;
}

.nav-button:hover {
    border: 1px solid $color5-darkmode;
    background-color: $color1;
    color: $color5-darkmode;
}

@media screen and (prefers-color-scheme: light) {
    .nav-button {
        border: 1px solid $color2;
        background-color: $color1;
        color: $color2;
    }

    .nav-button:hover {
        border: 1px solid $color1;
        background-color: $color2;
        color: $color1;
    }
}